---
layout: base.njk
title: Notes
---

<main class="container">
  <div class="intro">
    <h1>Hello jardin numérique</h1>
    <p>Ceci est une nouvelle tantative de journal numérique.</p>
    <p> Rédiger par Théo GS, développeur, designer, artiste et des fois enseignant.</p>
  </div>

 {% if collections.notes.length %}
  <ul>
    {% for note in collections.notes %}
      <li>
        <a href="{{ note.url }}">{{ note.data.title or "Sans titre" }}</a>
        <small>({{ note.date | formatDate }})</small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>🌱 Aucune note pour l’instant.</p>
{% endif %}

  <footer class="footer">
    <p>Un jardin cultivé en permacomputing, d'idées, notes et expériences.</p>
    <p class="build-info">Dernière germination : {{ site.buildTime | formatDate }}</p>
  </footer>
</main>
